/*==========  Desktop First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
	.top-header i {
		margin-right: 5px;
	}
	.form .number-of-bedrooms label:nth-of-type(6) {
		margin-left: 146px;
	}
	.form button {
		width: 60px;
	}
	.bottom-header nav li:last-child {
		margin-left: 0;
	}
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
	.bottom-header nav {
		text-align: center;
	}
	.bottom-header nav li:last-child {
		margin-left: 15px;
	}
	.bottom-header h1::after {
		display: none;
	}
	.bottom-header .logo {
		text-align: center;
	}
	.top-header .col-md-3:not(:first-of-type) i {
		margin-left: 15px;
	}
	.top-header .col-md-1 i {
		margin-top: -28px;
	}
	.top-header i {
		margin-left: 0 !important;
	}
	.form .number-of-bedrooms label:nth-of-type(6) {
		margin-left: 28px;
	}
	.min,
	.max,
	.number-of-bedrooms,
	.area,
	.beach-distance,
	.pool {
		margin-top: 15px;
	}
	.area {
		margin-top: 15px !important;
	}
	.form button {
		float: right;
		margin-top: 17px;
	}
	.top-header .col-md-2 {
		text-align: left;
	}
	.top-header .col-md-2 span:first-of-type {
		margin-left: 10px;
	}
	.language {
		margin-top: 40px !important;
	}
	.language span a {
		float: left;
	}
	.language span:last-of-type a {
		margin-left: 15px;
	}
	.language i {
		box-sizing: border-box;
		padding-top: 6px;
	}
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
	.top-header .col-md-3 {
		display: none;
	}
	.hidden-language {
		text-align: center;
	}
	.language {
		margin-top: 0px !important;
	}
	.features .col-md-3 {
		margin-top: 30px;
	}
	.quotes .col-md-6 {
		clear: right;
		float: left;
		margin-top: 30px;
	}
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}